<div class="login">
    <form action="/signin" method="post" class="login">
        <input class="input" type="text" name="username" id="username" placeholder="Username" autocomplete="off" />
        <input class="input" type="password" name="password" id="password" placeholder="Password" autocomplete="off" />
        <button class="log" type="submit" id="login">Login</button>
    </form>
    <br>
    <br>
</div>
<div class="registGit">
    <a href="/api/sessions/github"><button class="btnGit">Entrar con Github</button></a>
    <a href="/signUp"><button class="btnGit">Registrarse</button></a>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>