<div>
    <h1 class="titulo">Lista de productos</h1>
</div>
<div class="carritoLog">
    <a href="/api/carts" id="linkCarrito"><button class="btnCarrito">CARRITO</button></a>
    <button id="logout" class="btnLogout">LOGOUT</button>
</div>

<div class="paginas">
    <button id="btnAnterior" class="btnAnterior">PAGINA ANTERIOR</button>
    <h5 class="spanPagina" id="pag">Pagina</h5>
    <button id="btnSiguiente" class="btnAnterior">PAGINA SIGUIENTE</button>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>