<div>
    <h1 class="titulo">Lista de productos</h1>
</div>
<div class="carritoLog">
    <a href="/api/carts" id="linkCarrito"><button class="btnCarrito">CARRITO</button></a>
    <button id="logout" class="btnLogout">LOGOUT</button>
</div>

<div>
    <button id="btnAnterior">PAGINA ANTERIOR</button>
    <h5>Pagina <span id="pag"></span></h5>
    <button id="btnSiguiente">PAGINA SIGUIENTE</button>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>