<div class="sign">
    <form id="form" method="get">
        <div>
            <input class="signinput" id="first_name" name="first_name" type="text" placeholder="Nombre" autocomplete="off"/>
        </div>
        <br>
        <div>
            <input class="signinput" id="email" name="email" type="email" placeholder="Correo electronico" autocomplete="off"/>
        </div>
        <br>
        <div>
            <input class="signinput" id="last_name" name="last_name" type="text" placeholder="Apellido" autocomplete="off"/>
        </div>
        <br>
        <div>
            <input class="signinput" id="age" name="age" type="text" placeholder="Edad" autocomplete="off"/>
        </div>
        <br>
        <div>
            <input class="signinput" id="password" name="password" type="password" placeholder="Password" autocomplete="off"/>
        </div>
        <br>
        <br>
        <div>
            <button class="crearUsuario" id="signup" type="button">Crear usuario</button>
        </div>
    </form>
</div>